
/* Create a highlighted class called 'hi'  */
.hi {
  font-weight: 600;
  color: #e64173 !important;
}
.hi-slate {
  font-weight: 600;
  color: #314f4f !important;
}
.hi-turquoise {
  font-weight: 600;
  color: #20B2AA !important;
}
.hi-purple {
  font-weight: 600;
  color: #6A5ACD !important;
}
/* Mono-spaced font */
.mono {
  font-family: monospace;
}

/* Pink text */
.pink {
  color: #e64173 !important;
}
/* Slate ("darkslategrey") text */
.slate {
  color: #314f4f !important;
}
/* Turquoise ("lightseagreen") text */
.turquoise {
  color: #20B2AA !important;
}
/* Purple-ish ("slateblue") text */
.purple {
  color: #6A5ACD !important;
}
/* Orange ("orange") text */
.orange {
  color: #FFA500 !important;
}
/* Grey text */
.grey-mid {
  color: #7f7f7f !important;
}
/* Grey text */
.grey-vlight {
  color: #e5e5e5 !important;
}
/* White text */
.white {
  color: #ffffff !important;
}

.title-slide > h2  {
  color: rgba(249, 38, 114, 0.75);
  /* color: #afafaf; */
}

.remark-code-line-highlighted     { background-color: rgba(249, 39, 114, 0.5); }

.smaller {
  font-size: 95%;
}

.remark-slide-content {
  background-color: #ffffff;
  font-size: 24px;
  /* font-weight: 300; */
  /* line-height: 1.5; */
  /* padding: 1em 2em 1em 2em; */
}

.inverse {
  background-color: #23373B;
  text-shadow: 0 0 20px #333;
  /* text-shadow: none; */
}

.title-slide {
  background-color: #FAFAFA;
}

.footnote {
  bottom: 1.5em;
  font-size: 70%;
}

.dark-slide {
  background-color: #23373B;
  border-top: 0px solid #23373B;
}
.dark-slide .remark-slide-number {
  display: none;
}

.white-slide {
  background-color: #ffffff;
  border-top: 0px solid #ffffff;
}
.white-slide .remark-slide-number {
  display: none;
}

.mjx-chtml{
  font-size: 105% !important;
  /* line-height: 105% !important; */
}

/* Mono-spaced font, smaller */
.mono-small {
  font-family: monospace;
  font-size: 20px;
}
.mono-small .mjx-chtml {
  font-size: 105% !important;
}

.pseudocode, .pseudocode-small {
  font-family: monospace;
  background: #f8f8f8;
  border-radius: 3px;
  padding: 10px;
}
.pseudocode-small {
  font-size: 20px;
}

.super{
  vertical-align: super;
  font-size: 85%;
}
.sub{
  vertical-align: sub;
  font-size: 85%;
}

.remark-code {
  font-size: 70%;
}
