@import url(https://fonts.googleapis.com/css?family=Fira+Mono:100,200,300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:100,200,300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Cousine:100,200,300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,200,300,400,500,600,700);

/* Create a highlighted class called 'hi'  */
.hi {
  font-weight: 600;
  color: #e64173 !important;
}

.pink {
  color: #e64173 !important;
}

/* Mono-spaced font */
.mono {
  font-family: monospace;
  font-size: 100%
}

.title-slide > h2  {
  color: rgba(249, 38, 114, 0.75);
  /* color: #afafaf; */
}

.remark-code-line-highlighted     { background-color: rgba(249, 39, 114, 0.5); }

.remark-slide-content {
  background-color: #ffffff;
  font-size: 9px;
  padding-top: 11%;
  padding-left: 11%;
  padding-right: 11%;
  padding-bottom: 11%;
  line-height: 1.85;
}

.remark-slide-number {
  font-size: 100%;
  margin-right: 3%;
  padding-bottom: 3%;
}
.remark-slide-content h2 {
  font-size: 11pt !important;
  font-weight: bold;
  line-height: 2;
}
.remark-slide-content h3 {
  font-size: 10pt !important;
  /* font-weight: bold; */
  line-height: 2;
}

.inverse {
  background-color: #23373B;
  text-shadow: 0 0 20px #333;
  /* text-shadow: none; */
}

.title-slide {
  background-color: #FAFAFA;
}

.footnote {
  bottom: 3%;
  font-size: 70%;
}

.mjx-chtml{
  font-size: 110% !important;
  /* line-height: 109% !important; */
}

/* Mono-spaced font, smaller */
.mono-small {
  font-family: monospace;
  font-size: 100% !important;
}
.mono-small .mjx-chtml {
  font-size: 105% !important;
}

.pseudocode, .pseudocode-small {
  font-family: monospace;
  background: #f8f8f8;
  border-radius: 3px;
  padding: 10px;
}
.pseudocode-small {
  font-size: 20px;
}

.super{
  vertical-align: super;
  font-size: 85%;
}
.sub{
  vertical-align: sub;
  font-size: 85%;
}

.title-slide > h1 {
  font-size: 16pt !important;
  line-height: 32pt !important;
}
.title-slide > h2 {
  font-size: 12pt !important;
  line-height: 24pt !important;
}
.title-slide > h3 {
  font-size: 8pt !important;
  line-height: 16pt !important;
}

.remark-inline-code {
  font-size: 85%;
  background: #F5F5F5; /* lighter */
  /* background: #e7e8e2; /* darker */
  border-radius: 2px;
  padding: 1px;
}

.remark-code {
  font-size: 85%;
}

.remark-code, .remark-inline-code {
  /* font-family: 'Cousine'; */
  /* font-family: 'IBM Plex Mono';
  font-weight: 400; */
  /* font-family: 'Fira Mono'; */
  /* font-family: 'Roboto Mono';
  font-weight: 400; */
  /* font-family: 'Source Code Pro';
  font-weight: 500; */
}

.move-right {
  margin-left: 30px;
  display: block;
}
.move-right-short {
  margin-left: 10px;
  display: block;
}

/* Underline */
.ul {
  text-decoration: underline;
  display: inline-block;
}
